*.suo
*.cache
/MusicPlayerGUI/MusicPlayerGUI/obj/Debug/
/MusicPlayerGUI/MusicPlayerGUI/bin/Debug/AxInterop.WMPLib.dll
/MusicPlayerGUI/MusicPlayerGUI/bin/Debug/Interop.WMPLib.dll
/MusicPlayerGUI/MusicPlayerGUI/bin/Debug/MusicPlayerGUI.exe
/MusicPlayerGUI/MusicPlayerGUI/bin/Debug/MusicPlayerGUI.pdb
/MusicPlayerGUI/MusicPlayerGUI/bin/Debug/MusicPlayerGUI.vshost.exe
*.user
obj
/MusicPlayerGUI/.vs/*
