*.suo
*.cache
/MusicPlayerGUI/MusicPlayerGUI/obj/Debug/AxInterop.WMPLib.dll
/MusicPlayerGUI/MusicPlayerGUI/obj/Debug/build.force
/MusicPlayerGUI/MusicPlayerGUI/obj/Debug/Interop.WMPLib.dll
/MusicPlayerGUI/MusicPlayerGUI/obj/Debug/MusicPlayerGUI.csproj.FileListAbsolute.txt
/MusicPlayerGUI/MusicPlayerGUI/bin/Debug
*.user
obj